body {
    padding: 0;
    margin: 0;
  }
  
  #map, body, html {
    height: 100%;
  }
  
  .legend {
    background: #beebfa;
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
  }
  
  .legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .legend li {
    display: block; /* Change from inline-block to block for vertical display */
    width: 30px;
    height: 22px;
  }
  
  .legend .min {
    float: none; /* Remove float to center the text */
    padding-bottom: 5px;
  }
  
  .legend .max {
    float: none; /* Remove float to center the text */
  }
  
  .color-box {
    display: inline-block;
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    margin-right: 5px; /* Add margin between color boxes */
  }